<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% block links %}
    {% endblock %}
  </head>

  <body>
    <nav class="nav-bar">
      <div>
        <a class="nav-item nav-home" href="{% url 'blog:post-list' %}">Public Blog</a>
      </div>
      <div>
        {% if user.is_authenticated %}
          <a class="nav-item" href="{% url 'blog:new' %}">New Blog</a>
          <a class="nav-item" href="{% url 'blog:draft' %}">Draft</a>
          <a class="nav-item" href="">Blogs</a>
          <a class="nav-item user-info" href="{% url 'accounts:profile' %}">{{ user.username }}</a>
          <a class="nav-item" href="{% url 'accounts:logout' %}">logout</a> 
        {% else %}
          <a class="nav-item" href="{% url 'accounts:profile' %}">Login</a>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      {% block body%}
      {% endblock %}
    </div>
  </body>
</html>
