<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    {% block links %}
    {% endblock %}
  </head>

  <body>
    <nav class="nav-bar">
      <div>
        <a class="nav-item nav-home" href="{% url 'blog:post-list' %}">Public Blog</a>
      </div>
      <div>
        <a class="user-icon" href="{% url 'accounts:profile' %}">
          <img class="user-icon-img" src="{% static 'png/user-icon.png' %}">
        </a>
        {% if user.is_authenticated %}
          <span>{{ user.username }}</span>  
          <a class="user-icon" href="{% url 'accounts:logout' %}">
            <img class="user-icon-img" src="{% static 'png/logout-icon.png' %}">
          </a>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      {% block body%}
      {% endblock %}
    </div>
  </body>
</html>
